.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-link {
    padding: 0.5rem;
    color: rgba(0, 0, 0,0.55);
    text-decoration: none;

}
.nav-link.active {
    color: rgba(0,0,0,0.9);
}
.navbar {
    height: 50px;
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.bg-brown {
    background-color: rgb(219, 185, 139);
}
.text-white {
    color: white;
}
.post-body {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;    
}
.post-header a, post-header a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* .btn {
  color: white;    
}
.btn a, btn a:visited {
  color: white; 
} */
.post {
  
    margin-bottom: 1.5rem;
    border-radius: 3px;
}
.text-ident {
    text-indent: 10%;
}
.bg-blue {
    background-color: rgb(45, 45, 83);
}
.emoji {
    width: 120px;
    height: 120px;
    margin: 15px 15px 40px;
    background: #ffda6a;
    display: inline-block;
    border-radius: 50%;
    position: relative;
  }
  .emoji:after {
    position: absolute;
    bottom: -40px;
    font-size: 18px;
    width: 60px;
    left: calc(50% - 30px);
    color: #8a8a8a;
  }
  
  .emoji__face, .emoji__eyebrows, .emoji__eyes, .emoji__mouth, .emoji__tongue, .emoji__heart, .emoji__hand, .emoji__thumb {
    position: absolute;
  }
  .emoji__face:before, .emoji__eyebrows:before, .emoji__eyes:before, .emoji__mouth:before, .emoji__tongue:before, .emoji__heart:before, .emoji__hand:before, .emoji__thumb:before, .emoji__face:after, .emoji__eyebrows:after, .emoji__eyes:after, .emoji__mouth:after, .emoji__tongue:after, .emoji__heart:after, .emoji__hand:after, .emoji__thumb:after {
    position: absolute;
    content: '';
  }
  .emoji__face {
    width: inherit;
    height: inherit;
  }
  .emoji--wow:after {
    content: 'Wow';
  }
  .emoji--wow .emoji__face {
    animation: wow-face 3s linear infinite;
  }
  .emoji--wow .emoji__eyebrows {
    left: calc(50% - 3px);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -18px 0 0 0 #000, -33px 0 0 0 #000, 18px 0 0 0 #000, 33px 0 0 0 #000;
    animation: wow-brow 3s linear infinite;
  }
  .emoji--wow .emoji__eyebrows:before, .emoji--wow .emoji__eyebrows:after {
    width: 24px;
    height: 20px;
    border: 6px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    top: -3px;
    left: calc(50% - 12px);
  }
  .emoji--wow .emoji__eyebrows:before {
    margin-left: -25px;
  }
  .emoji--wow .emoji__eyebrows:after {
    margin-left: 25px;
  }
  .emoji--wow .emoji__eyes {
    width: 16px;
    height: 24px;
    left: calc(50% - 8px);
    top: 35px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 25px 0 0 0 #000, -25px 0 0 0 #000;
  }
  .emoji--wow .emoji__mouth {
    width: 30px;
    height: 45px;
    left: calc(50% - 15px);
    top: 50%;
    border-radius: 50%;
    background: #000;
    animation: wow-mouth 3s linear infinite;
  }
  @keyframes wow-face {
    15%, 25% {
      transform: rotate(20deg) translateX(-25px);
    }
    45%, 65% {
      transform: rotate(-20deg) translateX(25px);
    }
    75%, 100% {
      transform: rotate(0deg) translateX(0);
    }
  }
  @keyframes wow-brow {
    15%, 65% {
      top: 25px;
    }
    75%, 100%, 0% {
      top: 15px;
    }
  }
  @keyframes wow-mouth {
    10%, 30% {
      width: 20px;
      height: 20px;
      left: calc(50% - 10px);
    }
    50%, 70% {
      width: 30px;
      height: 40px;
      left: calc(50% - 15px);
    }
    75%, 100% {
      height: 50px;
    }
  }

  .em {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}
.w-50 {
  width: 50%;
}

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}