.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 2.5rem;
}
.p-5 {
    padding: 3rem;
}
.bg-dark {
    background-color: #333;
}
.bg-darkgreen {
    background-color: rgb(86, 126, 81);
}
.text-white {
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bok {
    width: 25%;
}
.osnova {
    width: 75%;
    border: 2px solid;
}
.vnesh-otstup {
    margin: 2px;
}
.bg-green {
    background-color: rgb(112, 165, 110);
}
.border-black {
    border-color: black;
}
.box-osnova {
    width: 62em;
    border: 1px solid;
    border-color: rgb(14, 65, 31);
    margin: 0.5em;
}
.text-decoration {
   text-decoration: underline;
}
.box-bottom {
    width: 20%;
    border: 1px solid;
    border-color: rgb(14, 65, 31);
    margin: 0.5em;
}
.bg-lightgreen {
    background-color: rgb(76, 160, 104);
}