.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 2.5rem;
}
.p-5 {
    padding: 3rem;
}
.bg-dark {
    background-color: #333;
}
.bg-darkgreen {
    background-color: rgb(86, 126, 81);
}
.text-white {
    color: #fff;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bok {
    width: 25%;
}
.osnova {
    width: 75%;
    border: 2px solid;
}
.vnesh-otstup {
    margin: 2px;
}
.bg-gray {
    background-color: rgba(77, 78, 77,0.5);
}
.border-black {
    border-color: black;
}
.box-osnova {
    border: 1px solid;
    border-color: rgb(14, 65, 31);
    margin: 0.5em;
}
.text-decoration {
   text-decoration: underline;
}
.box-bottom {
    width: 20%;
    border: 1px solid;
    border-color: rgb(14, 65, 31);
    margin: 0.5em;
}
.bg-lightgreen {
    background-color: rgb(76, 160, 104);
}
.containerM {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-link {
    padding: 0.5rem;
    color: rgba(0, 0, 0,0.55);
    text-decoration: none;

}
.nav-link.active {
    color: rgba(0,0,0,0.9);
}
.bg-light {
    background-color: #f3f3f3;
}
.navbar {
    height: 50px;
    display: flex;
}
body, ul {
   margin: 0;
   font-size: 20px;
}
.collapse {
    height: 100%;
    display: flex;
    align-items: center;
}
.name {
    border: 1px solid;
    border-color: rgb(14, 65, 31);
    margin: 0.5em;
    width: 5em;
    text-align: center;
    font-size: 25px;
}
.bg-brown {
    background-color: rgba(141, 124, 101, 0.8);
}
.buton {
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 2em;
}
.bg-purple {
    background-color: rgba(144, 110, 175, 0.8);
}
.buton.dafna {
    border: 1px solid rgb(68, 18, 57);
    color: rgb(255, 255, 255);
    background-color: #c78cbd;
}
.buton.scooby {
    border: 1px solid rgb(99, 88, 79);
    color: rgb(255, 255, 255);
    background-color: #836f5c;
}
