.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 2.5rem;
}
.p-5 {
    padding: 3rem;
}
.mt-1 {
    margin: 0.5rem;
}
.bg-dark {
    background-color: #333;
}
.bg-darkgreen {
    background-color: rgb(86, 126, 81);
}
.text-white {
    color: #fff;
}
.container.B {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.bok {
    width: 25%;
}

.vnesh-otstup {
    margin: 2px;
}
.bg-gray {
    background-color: rgba(77, 78, 77,0.5);
}
.border-black {
    border-color: black;
}
.text-decoration {
   text-decoration: underline;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-link {
    padding: 0.5rem;
    color: rgba(0, 0, 0,0.55);
    text-decoration: none;

}
.nav-link.active {
    color: rgba(0,0,0,0.9);
}
.bg-light {
    background-color: #f3f3f3;
}
.navbar {
    height: 50px;
    display: flex;
}
body, ul, h1, h2, h3, h4, h5 {
   margin: 0;
   font-size: 20px;
}
.collapse {
    height: 100%;
    display: flex;
    align-items: center;
}
.bg-blue {
    background-color: rgba(123, 152, 207, 0.8);
}
.btn {
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}
.bg-pink {
    background-color: rgba(199, 136, 180, 0.8);
}
.btn.coco {
    border: 2px solid rgb(109, 43, 95);
    color: rgb(255, 255, 255);
    background-color: #c482b9;
}
.btn.monster {
    border: 2px solid rgb(67, 101, 146);
    color: rgb(255, 255, 255);
    background-color: #7c90c9;
}
.sidebar-50 {
    width: 50%;
}
.sidebar {
    width: 10%;
}
.content {

}
.row {
    display: flex;
    flex-direction: row;
}
article {
    border: 1px solid black;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 3px;
}
article img {
    max-width: 250px;
    margin-right: 15px;
}
.post-body {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.post-meta {
    display: flex;
    font-size: 14px;
}
.post-meta > * {
    margin: 0;
    margin-right: 15px; 
}
.post-meta span {
    font-style: italic;
}

.paginate {
    display: flex;
    list-style: none;
}
.paginate-item {
    border: 1px solid #2d3644;
    margin: 2px;

    transition: 0.9s;
    background-color: #1a212c;
}
.paginate-item a {
    padding: 1.25rem 0.5rem;
}
.paginate a, .paginate a:visited {
    color:#fff;
}

.paginate a {
    text-decoration: none;
}
.paginate-item:hover {
    background-color: #fff;
}
.paginate-item:hover a {
    color: #000000;
}
.justify-content-center {
    justify-content: center;
}
.text-size-40px {
    font-size: 40px;
}
.text-blue {
    color: rgb(21, 21, 77);
}
table {
    text-align: left;
    font-size: 16px;
    margin: 5px;
}
.btn.coco a, btn.coco a:visited {
    color: #fff;
    text-decoration: none;
}
.post-header a, post-header a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
